.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

// ion-content {
//   --background: linear-gradient(#ca4ee9, #953bac);
// }

// ion-card{
//   border-radius: 0em;
//   position: relative;
//   text-align: center;
//   margin: 3em;
//         box-shadow: none;
// }
