@font-face {
    font-family: 'Catcafe';
    src: url('/assets/fonts/Catcafe.ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pussyfoot';
    src: url('/assets/fonts/Pussyfoot.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Fatcat';
    src: url('/assets/fonts/Fatcat.otf');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Mew';
    src: url('/assets/fonts/Mew.otf');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Curious';
    src: url('/assets/fonts/Curious.ttf');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nexab';
    src: url('/assets/fonts/NexaBold.otf');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nexa';
    src: url('/assets/fonts/NexaLight.otf');
    font-weight: 900;
    font-style: normal;
  }